body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rebeccapurple;
  color: white;
  display: flex; /* Enables flexbox for centering */
  justify-content: center; /* Centers content horizontally */
  align-items: flex-start; /* Keeps content at the top */
  min-height: 100vh; /* Makes sure the body takes up full height */
  padding-top: 1rem; /* Optional: add space at the top */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.sign {
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}
